  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root,
html,
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #88807e;
  font-family: 'Roboto', sans-serif;
}
body {
  display: grid;
  grid-template-columns: 250px 3fr 1fr;
  grid-template-rows: 150px 1fr;
}
a {
  text-decoration: none;
  color: inherit;
}


.header {
  background-color: #323c24;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  box-shadow: 1px 0px 5px black;
}
.header-toprow,
.header-bottomrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  flex-grow: 0;
}
.header-toprow>div>svg {
  height: 30px;
  width: auto;
}
.search-container,
.account-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-box {
  min-width: clamp(200px, 500px, 500px);
  margin-inline: 10px;
  border-radius: 10px;
  align-items: left;
}
.notification {
  padding-left: 50px;
  flex: 0;
}
.small-usericon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid gray;
  margin-left: 20px;
  overflow: none;
}
.username {
  padding-left: 10px;
}
.welcome-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 100px;
}
.large-usericon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid gray;
  overflow: none;
  justify-content: center;
  margin-right: 10px;
}
.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  height: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}
.welcome-text>h3 {
  margin-top: 0;
}
.welcome-text>h5 {
  margin-bottom: 0;
}
.button-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  height: 100%;
  align-items: flex-end;
  padding-bottom: 30px;
}
.button-container>button {
  height: 30px;
  width: 80px;
  border-radius: 15px;
  background-color: #303c4e;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border: none;
}
.button-container>button:hover {
  background-color: #bf6a49;
  color: #fff;
  transform: translateY(-7px);
}


.sidebar {
  background-color: #303c4e;
  color: white;
  padding: 10px;
  padding-left: 20px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.sidebar-head {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-gap: 8px;
  align-items: center;
}
.sidebar-head>svg {
  width: auto;
  height: 30px;
  fill: white;
}
.sidebar-block {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-gap: 8px;
  align-items: center;
}
.sidebar-block>svg {
  fill: white;
  width: auto;
  height: 20px;
}
.sidebar-block>a {
  grid-column: 2 / 3;
}
.sidebar-block>svg {
  grid-column: 1 / 2;
}


.project-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.cards-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 12px;
}
.project-card {
  background-color: #dedddb;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.project-card::before {
  content: '';
  position: relative;
  display: inline-block;
  height: 100%;
  width: 7px;
  background-color: #323c24;
}

.right-bar {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  padding-left: 20px;
  padding-top: 10px;
}
.announcement-container {
  padding-inline: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #dedddb;
  border-radius: 5px;
  margin-right: 20px;
}
.card-divider {
  height: 1px;
  background-color: #303c4e;
  margin: 10px;
  box-shadow: 2px 2px 3px #303c4e;
}
.announcement-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-inline: 10px;
}
.announcement-card>h4 {
  margin-bottom: 0;
}
.announcement-card>p {
  margin-top: 0px;
  padding-top: 5px;
}
.trending-container {
  background: #dedddb;
  margin-right: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.trending-card {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 8px;
  align-content: center;
}
.trending-text {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}
.trending-text>h4 {
  margin-bottom: 2px;
  margin-top: 0;
}
.trending-text>p {
  margin-bottom: 0;
  margin-top: 0;
}